.sectionCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artCard{
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.cardWrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
    width: 30%;
    height: 300px;
}

.card{
    width: 100%;
    height: 100%;
    background: chartreuse;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.card:hover{
    transform: rotateY(180deg);
}

.front{
    height: 100%;
    width: 100%;
    background:#2AE500;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   
}

.back{
    height: 100%;
    width: 100%;
    background: #B400F8;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
