*{
    margin:0;
    padding: 0;
}

.header{
    width: 100%;
    height: 80px;
    background: #FE7120;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.divMenu{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divLogo{
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 100%;
}

#hamburger{

}

.button{
    background: none;
    border:0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
}

.lines{
    border-radius: 5px;
    background: #ffffff;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 3px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*animaciones*/
button.open .topLine{
    animation-name: top-line-animation;
}

button.open .middleLine{
    animation-name: middle-line-animation;
}

button.open .bottomLine{
    animation-name: bottom-line-animation;
}

/*animaciones close*/
button .topLine{
    animation-name: top-line-animation-close;
}

button .middleLine{
    animation-name: middle-line-animation-close;
}

button .bottomLine{
    animation-name: bottom-line-animation-close;
}

.footer{
    width: 100%;
    height: 80px;
    background: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    color: #ffffff;
}

@keyframes top-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}

@keyframes bottom-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}

@keyframes middle-line-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

/**/
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        width: 60%;
        opacity: 0;
    }
    20%, 100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}