.sectionPokeball{
    width: 100%;
    display: flex;
    justify-content: center;
}

.artPokeball{
    width: 80%;
    display: flex;
    justify-content: center;
}

#pokeball.pokeball{
    cursor: pointer;
    width: 250px;
    height: 250px;
    border: 5px solid #000000;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    
}

#pokeball.pokeball.animation1{
    animation-name: pokeball1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#pokeball.pokeball.animation2{
    animation-name: pokeball2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.pokeballButton{
    width: 70px;
    height: 70px;
    border: 10px solid #000000;
    border-radius: 100%;
    position: absolute;
    z-index: 5555;
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeball.pokeball .interButtton{
    width: 70%;
    height: 70%;
    border: 1px solid #000000;
    border-radius: 100%;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#pokeball.pokeball.animation1 .interButtton{
    animation-name: interbutton1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#pokeball.pokeball.animation2 .interButtton{
    animation-name: interbutton2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.white{
    background: #ffffff;
    width: 100%;
    height: 50%;
}

.red{
    background: #FD1616;
    width: 100%;
    height: 50%;
}

.line{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 20px;
    background: #000000;
}


@keyframes interbutton1{
    0%{ background:#FD1616; }
    20%{ background: #ffffff; }
    40%{ background:#FD1616; }
    60%{ background: #ffffff; }
    80%{ background:#FD1616; }
    100%{ background: #ffffff; }    
}

@keyframes interbutton2{
    0%{ background:#FD1616; }
    20%{ background: #ffffff; }
    40%{ background:#FD1616; }
    60%{ background: #ffffff; }
    80%{ background:#FD1616; }
    100%{ background: #ffffff; }
}

@keyframes pokeball1{
    0%{ transform: translateX(0px) rotate(0deg) }
    33%{ transform: translateX(150px) rotate(45deg) }
    66%{ transform: translateX(-150px) rotate(-45deg) }
    100%{ transform: translateX(0px) rotate(0deg) }

}

@keyframes pokeball2{
    0%{ transform: translateX(0px) rotate(0deg) }
    33%{ transform: translateX(150px) rotate(45deg) }
    66%{ transform: translateX(-150px) rotate(-45deg) }
    100%{ transform: translateX(0px) rotate(0deg) }
}
